<p>new-test works!</p>
<div class="header">

    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#"><h3>Dashboard</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class =" px-5" routerLink="/layout/dashboard/all-subject-test"><span class="sr-only">(current)</span></a>
            <a  class =" px-5"routerLink="/layout/dashboard/oldtest"> </a>
            <a  class =" px-5"  routerLink="/layout/dashboard/markssheet">
            </a>
            <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
          </div>
        </div>
      </nav>
      </div>