<div class="container">
      <div class =" px-5 py-5">
<div class="row "  >
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
            <div class="card-body">
                <!-- <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span> -->
                <div class="dash-widget-info" >
                    <h4 >
                        <button onclick=""> English</button>

                    </h4>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <div class="dash-widget-info">
                        <h4>Maths</h4>
    
                        <!-- <span>Proje</span> -->
                    </div>
                </div>
            </div>
        </div><div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <!-- <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span> -->
                        <div class="dash-widget-info">
                            <h4>  <a routerLink="/layout/dashboard/subjecttest"> Hindi</a>
                            </h4>
        
                            <!-- <span>Proje</span> -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="card dash-widget">
                <div class="card-body">
                    <!-- <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span> -->
                    <div class="dash-widget-info" >
                        <h4 >
                            <a routerLink="/layout/dashboard/subjecttest"> Punjabi</a>
    
                        </h4>
    
                    </div>
                </div>
            </div>
        </div>
    </div>