<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="quiz-header">
      <h4 >Quiz!</h4>
      <span>Answers Given by students</span>
    </div>
    <div class="form-group">
      <label for="Name" id="que_id">Que_Name</label>
    </div>
    <div class="form-group" id="ans">
      <ul>
        <li>
          <input type="radio" name="answer" class="answer" />
          <label for="a">Answer1</label>
        </li>

        <li>
          <input type="radio" name="answer" class="answer" />
          <label for="b">Answer2</label>
        </li>

        <li>
          <input type="radio" name="answer" class="answer" />
          <label for="c">Answer3</label>
        </li>

        <li>
          <input type="radio" name="answer" class="answer" />
          <label for="d">Answer4</label>
        </li>
      </ul>
      <div id=" correct">correct Answer</div>
    </div>
  </div>
</div>
