<div  class="row d-flex justify-content-center">
    <div  class="col-md-6">
        <h5 class="card-title">Test Ruless
            <div class="quiz-header">
                <h4 style="font-family: cursive;">Quiz!</h4>
                <!-- <span > Name{{test_id}}</span> -->
            </div> 
        </h5>
Please, follow these rules for quizzes and exams:
<ul>Turn off your cell (or put it on vibrate mode).
<li>Do not start until we tell you so (do not even write your name).</li>
<li>Keep the testing material face down until we indicate you can start.</li>
<li>Know your section number and TA name.</li>
<li>Write your directory id (what you use to log on to the grades server, grace cluster) if requested.</li>
</ul>
<div>
    <button class="btn-primary" routerLink="/layout/student-quetions/quetion-paper">Start Exam</button>
</div>
</div>
</div>
  